
body{
    background-color:#45a173;
}

.community{
    background-color: none;
    transform: translate(200px,200px);
}

.hand1, .hand2, .hand3, .hand4, .hand5{
    background-color: none;
}

/*I know this looks like shit, but it works for now*/
.hand0{
    transform: translate(0px,-100px);
}
.hand1{
    transform: translate(600px,-250px);
}
.hand2{
    transform: translate(0px,-50px);
}
.hand3{
    transform: translate(300px,-200px);
}
.hand4{
    transform: translate(600px,-350px);
}

img.active{
	border: 5px solid yellow;
}